html,
body {
  	height: 100%;
}
body.waiting * {
	cursor: progress !important;
}
*:focus  {
	outline-color: #72AAFA !important;
}
.top-toolbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 0 8px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white;
}
.actions-toolbar {
	display: flex;
	flex: 0 0 auto;
	
}
.diagram-toolbar {
	display: flex;
	flex: 0 0 auto;
	
}
.diagram-title {
	flex: 1 1 0;
	
	border: 1px solid #8aa2f1;
	
	background-color: #E1F5FF;
	width: 100px;
	height: 26px;
}
.diagram-text {
	margin: 0 0 0 4px;
	width: 180px;
}
#diagramNameId {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 2px 0 0 8px;
}
.emptyGalleryContent {
	display: flex;
	align-items: center;
}
.diagram-name {
	flex: 1 0 auto;
	 height: 26px;
}
.top-container {
	display: -webkit-box;
	
}
.main-container {
	-webkit-box-flex: 1;
	display: grid;
	grid-template-columns: 8px auto 8px;
	grid-template-rows: 8px auto 8px;
	background: #f5f5f5;
	margin: 10px 0 10px 8px;
	overflow-x: auto;
	overflow-y: auto;
	height: 100%;
	
}
.flex-canvas {
	grid-column-start: 2;
	grid-row-start: 2;
	align-self: start;
	justify-self: center;
	background: #FFFFFF;
	border: none;
	outline: none;
}
.palette-content {
	margin: 0 0 8px 0;
	padding: 10px 0 10px 0;
	display: none;
}
.overlayMessage {
	position: fixed;
	display: none;
	width: 100%;
	height: 52px;
	top: 0;
	left: 0;
	background-color: rgba(140,180,255,0.6);
	z-index: 20;
}
.overlaySaveText {
	position: absolute;
	top: 45%;
	left: 85%;
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
.group-box {
	background-color: #E1F5FF;
	border: 1px solid #3a72c1;
}
.current-settings {
	margin: 0 10px 0 10px;
	padding: 5px 10px 5px 11px;
	width: 170px;
}
.progressBar-settings {
	border: 2px solid #5F69C5;
	width: 196px;
	height: 16px;
	margin: 0 10px 6px 10px;
}
.progressBar-settings-in {
	width: 194px;
}
#progressBarId .ui-progressbar-value {
	background-color: #E1F5FF;
}
.progressBarShow {
	position: absolute;
	
	
	
	bottom: 4px;
	right: 240px;
	visibility: hidden;
	z-index: 20;
}
	
	
	
	
.main-props {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	margin-top: 8px;
}
.main-props-row {
	display: table-row;
	line-height: 24px;
}
.main-props-cell1 {
	display: table-cell;
	width: 60%;
}
.main-props-cell2 {
	display: table-cell;
	width: 40%;
}
.testAutoId {
	width: 24px;
	height: 18px;
}
.accordion-items {
	width: 192px;
}
.accordion-props-pages {
	width: 214px;
	
	
	height: 408px;
}
#paletteAccordionId .ui-accordion-content {
	margin: 0 10px 0 10px;
	padding: 0;
	border: 1px solid #5F69C5;
	
	
}
#paletteAccordionId .ui-accordion-header{
	margin: 0px 10px 1px 10px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-indent: 0;
	border: 1px solid #3a72c1;
	background-color: #72AAFA;
	width: 176px;
}
	
	
	
	
	
	
	
	
	
	
	
table#accHdrDemoTableId td {
	padding: 2px 0 2px 12px;
	line-height: 18px;
}
table#accSETableId td {
	padding: 0 0 0 12px;
	line-height: 14px;
}
table#accFlowTableId td {
	padding: 0 0 0 12px;
	line-height: 14px;
}
table#accSwimTableId td {
	padding: 0 0 0 12px;
	line-height: 14px;
}
table#accQuizTableId td {
	padding: 0 0 0 12px;
	line-height: 14px;
}
table#accMiscTableId td {
	padding: 0 0 0 12px;
	line-height: 14px;
}
table#accHdrPagesTableId td {
	padding: 2px 0 2px 12px;
	line-height: 18px;
}
#thumbnailDialogId {
	overflow: hidden !important;
}
#thumbnailDialogId .ui-dialog-content {
	padding: 0;
	margin: 0;
	
	
}
.ui-dialog-titlebar-close {
	visibility: hidden;
}
.showCloseButton .ui-dialog-titlebar-close {
	visibility: visible;
}
.ui-tabs .ui-tabs-active {
	background-color: #72AAFA !important;
	outline-color: #72AAFA !important;
}
.ui-tabs-anchor:active, .ui-tabs-anchor:focus{
	outline: none;
}
.thumbnailView {
	width: 100%;
	
	height: 184px;
	background-color: #ffffff;
	-webkit-box-flex: 1;
	display: flex;
	justify-content: center;
}
.thumbCanvas {
	align-self: center;
	flex: 0 0 auto;
	background: #ffffff;
	border: 1px solid #008000;
	outline: none;
}
.thumbnailHide {
	color: #ffffff;
	background-color: #408DEE;
	padding: 2px 0 4px 0;
	margin: 0;
}
.tipPopup {
	width: 160px;
	height: 36px;
	padding: 6px 8px 0 8px;
	background-color: #E1F5FF;
	border: 1px solid #82AAFA;
	
	display: none;
	z-index: 20;
}
.complist {
	list-style-type: none;
}
.galleryFont {
	font-family: Arial;
	font-size: 12px;
}
.settingsFont {
	font-size: 12px;
	
}
.settingsNotesTitle {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}
.settingsNotesFont {
	font-family: Arial;
	font-size: 12px;
}
.selectionFont {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}
label {
	white-space: pre-wrap;
}
.settingsMainGrid {
	display: grid;
	justify-content: start;
	grid-template-columns: 20px 70px 20px 140px 20px 70px 20px 130px;
	row-gap: 2px;
}
.settingsFeaturesGrid {
	display: grid;
	justify-content: start;
	grid-template-columns: 20px 230px 20px 220px;
	row-gap: 2px;
}
.settingsSpaceGrid {
	display: grid;
	justify-content: start;
	grid-template-columns: 54px 66px 54px 74px 54px 186px;
	row-gap: 2px;
}
.settings-entry {
	font-weight: bold;
}
.settings-caption {
	text-align:left;
	margin: 2px 0 0px 12px;
	font-weight: bold;
	height: 16px;
}
.settings-controls {
	background-color: #eaf0fa;
	margin: 4px 0 2px 0;
	padding:  4px 0 4px 4px;
}
.settingsTypeColors {
	background-color: #eaf0fa;
	margin: 0px 0 0px 0;
	padding:  4px 0 4px 4px;
	display: flex;
}
.typeColorShape {
	width: 28px;
	height: 16px;
	background: #fff;
	border: 2px solid #bbbbbb;
	margin: 0px 0 0px 4px;
}
.iconKeyShape {
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid #bbbbbb;
	
}
.typeColorsGrid {
	display: grid;
	background-color: #eaf0fa;
	justify-content: start;
	grid-template-columns: 24px 140px 40px 60px 100px;
	row-gap: 8px;
}
.nodeColorSelect {
	display: flex;
	background-color: #eaf0fa;
	align-items: flex-start;
	align-content: flex-start;
}
.nodeColorItem {
	
}
.typeIconsGrid {
	display: grid;
	background-color: #eaf0fa;
	justify-content: start;
	grid-template-columns: 24px 136px 60px 100px;
	padding: 4px;
	row-gap: 8px;
}
.settings-footer-1 {
	margin: 6px 0 0 0;
}
.settings-footer-2 {
	margin: 164px 0 0 0;
}
.settings-footer-3 {
	margin: 0 0 0 0;
}
.settings-footer-4 {
	margin: 195px 0 0 0;
}
.settings-footer-5 {
	margin: 232px 0 0 0;
}
.settings-footer-6 {
	margin: 1px 0 0 0;
}
.settings-footer-6a {
	margin: 126px 0 0 0;
}
.nodeProps-controls {
	background-color: #eaf0fa;
	margin: 1px 0 2px 0;
}
.nameText {
	width: 300px;
	height: 18px;
	outline: none;
}
.prefsNodeDisplay {
	display: flex;
}
#nodeColorDefId {
	
	margin: 20px 0 0 22px;
	width: 85px;
	height: 26px;
	display: inline-block;
}
.rectColorRadio {
	margin: 2px 0 2px 0;
	float: left;
}
.rectColorShape {
	width: 28px;
	height: 16px;
	background: #fff;
	border: 2px solid #bbbbbb;
	margin: 2px 0 2px 10px;
	float: right;
}
	
.findLocation {
	position: fixed;
	top: 4px;
	right: 4px;
	
}
.findNameText {
	
	height: 20px;
	outline: none;
	margin: 2px 0 0 0;
	border: 1px solid #aaaaaa;
	border-right: 0;
	font-weight: bold;
}
#select2findId {
	margin: 2px 0 0 0;
}
.findText {
	display: grid;
	justify-content: start;
	grid-template-columns: 240px 24px;
}
.findButton {
	border: 1px solid #aaaaaa;
	
	outline: none;
	transition-duration: 0.2s;
	cursor: pointer;
	height: 24px;
	width: 24px;
	background-color: #efefef;
	background-repeat: no-repeat;
	background-position: center;
}
.findBlockBgnd {
	background-color: #eaf0fa;
	height: 30px;
}
#findBtnNextId {
	float: left;
}
#findBtnPrevId {
	float: left;
}
#findBtnAllId {
	float: left;
}#findBtnClearId {
	float: left;
}
#foundMatchId {
	float: right;
	margin: 4px 8px 0 0;
}
.foundMatchesText {
	width: 80px ;
	height: 20px;
	text-align: right;
	padding-right: 4px;
	background-color: #eaf0fa;
	border: none;
	
	font-weight: bold;
	outline: none;
}
.settingsDiskMenu {
	height: 16px;
	width: 80px;
	margin: 4px 0 4px 0;
	font-size: 16pt !important;
	font-weight: bold !important;
	outline: none;
}
#editNodeNameId {
	width: 234px;
	margin-right: 8px;
}
#editNodeContentId {
	outline: none;
	width: 298px;
}
#newFileNameId {
	outline: none;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
	padding: 0 10px 0 30px;
	height: 20px;
}
.ui-selectmenu-text {
	
	padding: 2px 6px 2px 6px;
}
.nodeIconMenu {
	height: 16px;
}
.settingsIconMenu {
	height: 16px;
	margin: 4px 0 4px 0;
	
}
.settingsPortIconMenu {
	height: 14px;
	
}
#selectPortIconsId::selection {background: #a8d1eb}
.ui-selectmenu-menu .ui-menu.cardinalityicons .ui-menu-item-wrapper {
	padding: 0 10px 0 30px;
	
}
	
	
.ui-selectmenu-menu .ui-menu.porticons .ui-menu-item-wrapper {
	padding: 0 10px 0 30px;
	width: 120px;
}
.ui-selectmenu-menu .ui-menu.schememenu .ui-menu-item-wrapper {
	padding: 0 10px 0 10px;
	height: 20px;
}
.settingsSchemeMenu {
	height: 16px;
	width: 120px;
	margin: 4px 0 4px 0;
	
}
.ui-selectmenu-menu .ui-menu.demofiles .ui-menu-item-wrapper {
	padding: 4px 10px 0 10px;
	height: 18px;
}
	
	
	
	
	
.linkLabelCls {
	width: 220px;
	height: 18px;
	display: none;
	
}
.selectDirGroup {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	font-weight: bold;
	margin: 4px 0 10px;
}
.selectDirView {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	
	font-weight: bold;
	margin: 4px 0 8px;
}
.selectGroup {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	font-weight: bold;
}
.containerGroup {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	position: absolute;
}
.partitionText {
	width: 150px ;
	height: 24px;
	padding-left: 8px;
	margin-right: 4px;
	border: 1px solid #808080;
	background-color: #fafafa;
	font-weight: bold;
	outline: none;
}
.folderText {
	width: 100% ;
	height: 24px;
	padding-left: 4px;
	margin-right: 4px;
	border: 1px solid #808080;
	background-color: #fafafa;
	font-weight: bold;
	outline: none;
}
#searchDirId {
	margin: 0px 0 0 0;
}
.newFolderText {
	width: 97%;
	margin-bottom: 8px;
}
.saveAsText {
	width: 236px;
	margin: 8px 0 4px;
	height: 24px;
	padding-left: 4px;
	
	border: 1px solid #808080;
	
	font-weight: bold;
}
.prefs-button {
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background-color: #fafafa;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
.prefs-button-def {
	margin-left: 52px;
	width: 86px;
	height: 28px
}
.prefs-button:hover {
	background-color: #d0d0d0;
}
.prefs-button:active {
	color: #ffffff;
	background-color: #72AAFA !important;
	outline-color: #72AAFA !important;
	border: 1px solid #72AAFA !important;
}
.prefs-all-button {
	margin: 28px 0 0 0;
	width: 110px;
	height: 28px;
	float: right;
}
.setAllColorsToDef {
	margin: 4px 0 4px 8px;
	width: 116px;
	height: 28px;
	float: right;
}
.resetColorsToDef {
	margin: 4px 0 12px 8px;
	width: 116px;
	height: 28px;
	float: right;
}
.prefsIconsAllDef {
	margin: 133px 0 12px 0;
	width: 110px;
	height: 28px;
	float: right;
}
.buttonColorDef {
	margin: 10px 0 12px 66px;
	width: 85px;
	height: 26px;
}
.buttonSettingsScheme {
	margin: 2px 0 2px 2px;
	width: 100px;
	height: 26px;
	float: right;
}
.schemeName {
	width: 232px;
	height: 24px;
	padding-left: 4px;
	margin-right: 4px;
	border: 1px solid #808080;
	background-color: #fafafa;
	font-weight: bold;
	outline: none;
}
.buttonTextViewDef {
	margin: 2px 0 2px 4px;
	width: 85px;
	height: 26px;
	
}
.prefs-dms-button-def {
	margin: 6px 0 2px 58px;
	width: 86px;
	height: 28px;
	
}
.prefs-dmsNode-button-def {
	
	width: 85px;
	height: 26px;
	
	display: inline-block;
}
.prefs-textNode-button-apply {
	
	width: 52px;
	height: 26px;
	margin-left: 10px;
	display: inline-block;
}
.nodeTable-button-clear {
	width: 52px;
	height: 26px;
	margin-left: 6px;
	display: inline-block;
	float: right;
}
.nodeTable-button-confirm {
	width: 52px;
	height: 26px;
	margin-left: 6px;
	display: inline-block;
	float: right;
}
.nodeTable-button-reset {
	width: 52px;
	height: 26px;
	
	display: inline-block;
	float: right;
}
.prefs-textNode-button-clear {
	
	width: 52px;
	height: 26px;
	margin-left: 2px;
	display: inline-block;
}
.prefs-colorNode-button-def {
	width: 85px;
	height: 26px;
	margin-left: 26px;
	display: inline-block;
}
.vertical {
	display: block;
	vertical-align: middle;
	line-height: normal;
}
.disabled { color: #aaaaaa; }
.decision-top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	
	
	
	
	
	
	
}
.decision-item {
	flex: 0 0 auto;
	align-self: center;
}
.decision-slx {
	opacity: 0.5;
}
.decision-slx:hover {
	opacity: 1.0;
}
.lineStyle-top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
}
.lineStyle-item {
	flex: 0 0 auto;
	align-self: flex-start;
}
.about-dlg {
	display: none;
}
.about-img {
	border: none;
	outline: none;
	height: 120px;
	width: 460px;
	background-image: url(../../images/splash/sb-460x300.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0;
	margin: 0;
}
.about-title {
	position: absolute;
	top: 10%;
	left: 8%;
	font-family: Arial;
	font-style: italic;
	font-size: 36px;
	color: #ffffff;
}
.about-copyright {
	position: absolute;
	bottom: 0;
	float: left;
}
.toolbar-button {
	border: 1px solid #aaaaaa;
	outline: none;
	transition-duration: 0.2s;
	cursor: pointer;
	height: 28px;
	width: 30px;
	background-color: #efefef;
	background-repeat: no-repeat;
	background-position: center;
}
.toolbar-button:hover {
	background-color: #dddddd;
}
.toolbar-button:disabled {
	background-color: #ffffff;
	cursor: default;
	opacity: 0.5;
}
.toolbar-button:active {
	background-color: #bbbbbb;
}
.toolbar-menu {
	background-color: #bbbbbb;
}
.container-button {
	width: 22px;
	height: 22px;
	border: 1px solid #0000ff;
	opacity: 1.0;
	z-index: 30;
}
.button-no-left  {
	border-left: 0;
}
.nav-button {
	display: inline-block;
	border: none;
	
	
	outline: none;
	transition-duration: 0.2s;
	cursor: pointer;
	height: 28px;
	width: 24px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}
.nav-button:hover {
	background-color: #dddddd;
}
.nav-button:disabled {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: default;
	opacity: 0.5;
}
.nav-button:active {
	
	
	background-color: #bbbbbb;
}
.flow-button {
	border: none;
	outline: none;
	transition-duration: 0.2s;
	cursor: pointer;
	height: 26px;
	width: 26px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}
.flow-button:hover {
	background-color: #a2cAFF;
}
.flow-button:active {
	background-color: #82AAFA;
}
.hints-text {
	display: inline-block;
	width: 140px;
}
.arrow-button {
	border: none;
	margin: 2px 2px 2px 2px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	cursor: pointer;
}
.componentItem {
	vertical-align: middle;
}
.componentItem:hover {
	background-color: #82AAFA;
}
.button-menu {
	background-image: url(../../images/toolbar/menu24.png);
	background-color: #ffffff;
}
.button-refresh {
	background-image: url(../../images/toolbar/refresh24.png);
}
.button-add {
	background-image: url(../../images/toolbar/add24.png);
}
.button-new {
	background-image: url(../../images/toolbar/addFile24.png);
}
.button-open {
	background-image: url(../../images/toolbar/open24.png);
}
.button-import {
	background-image: url(../../images/toolbar/import24.png);
}
.button-export {
	background-image: url(../../images/toolbar/export24.png);
}
.button-delete {
	background-image: url(../../images/toolbar/delete18x24.png);
}
.button-copy {
	background-image: url(../../images/toolbar/copyNew24.png);
}
.button-paste {
	background-image: url(../../images/toolbar/pasteNew24.png);
}
.button-undo {
	background-image: url(../../images/toolbar/undo24.png);
}
.button-redo {
	background-image: url(../../images/toolbar/redo24.png);
}
.button-save {
	background-image: url(../../images/toolbar/save24.png);
}
.button-saveAs {
	background-image: url(../../images/toolbar/save_as24.png);
}
.button-config {
	background-image: url(../../images/toolbar/config24.png);
}
.button-help {
	background-image: url(../../images/toolbar/help24.png);
}
.button-clear {
	background-image: url(../../images/toolbar/brush24.png);
}
.button-empty {
	background-image: url(../../images/toolbar/brushSmall24.png);
}
.button-find {
	background-image: url(../../images/toolbar/find24.png);
}
.button-findArrow {
	background-image: url(../../images/dataflow/findArrow24.png);
}
.button-findAll {
	background-image: url(../../images/dataflow/findAll24.png);
}
.button-thumbnail {
	background-image: url(../../images/toolbar/thumbnail24.png);
}
.button-h {
	background-image: url(../../images/toolbar/arrow_right24.png);
}
.button-v {
	background-image: url(../../images/toolbar/arrow_down24.png);
}
.button-right16 {
	background-image: url(../../images/toolbar/arrow_right16.png);
}
.button-left16 {
	background-image: url(../../images/toolbar/arrow_left16.png);
}
.btn-left-16 {
	background-image: url(../../images/toolbar/navigate_left16.png);
}
.btn-right-16 {
	background-image: url(../../images/toolbar/navigate_right16.png);
}
.btn-up-16 {
	background-image: url(../../images/toolbar/navigate_up16.png);
}
.btn-down-16 {
	background-image: url(../../images/toolbar/navigate_down16.png);
}
.button-left {
	background-image: url(../../images/toolbar/navigate_left24.png);
}
.button-right {
	background-image: url(../../images/toolbar/navigate_right24.png);
}
.button-up {
	background-image: url(../../images/toolbar/navigate_up24.png);
}
.button-down {
	background-image: url(../../images/toolbar/navigate_down24.png);
}
.button-leftDir {
	background-image: url(../../images/toolbar/arrow_left24.png);
}
.button-rightDir {
	background-image: url(../../images/toolbar/arrow_right24.png);
}
.button-newDir {
	background-image: url(../../images/toolbar/addFolder24.png);
}
.button-newSaveDir {
	background-image: url(../../images/toolbar/addFolder24.png);
}
.button-deleteFS {
	background-image: url(../../images/toolbar/delete18x24.png);
}
.button-findDisks {
	background-image: url(../../images/toolbar/help24.png);
}
.button-expand11 {
	background-image: url(../../images/dataflow/expand11.png);
}
.button-collapse11 {
	background-image: url(../../images/dataflow/collapse11.png);
}
.flowHorizontal {
	content: url(../../images/toolbar/arrow_right16.png);
}
.flowVertical {
	content: url(../../images/toolbar/arrow_down16.png);
}
.block-extendH {
	background-image: url(../../images/toolbar/extendH201.png);
}
.block-extendV {
	background-image: url(../../images/toolbar/extendV201.png);
}
.block-shrinkH {
	background-image: url(../../images/toolbar/shrinkH201.png);
}
.block-shrinkV {
	background-image: url(../../images/toolbar/shrinkV201.png);
}
	
	
.lineStyle-button {
	border: none;
	outline: none;
	transition-duration: 0.2s;
	
	height: 16px;
	width: 64px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	
}
.spinnerStyle {
	width: 24px;
	margin: 4px 4px 4px 4px;
}
.spinnerStyleNode {
	width: 24px;
	margin: 4px 2px 4px 4px;
}
.spinner-label {
	vertical-align: baseline;
	
}
.spinner-label-node {
	vertical-align: baseline;
	margin:4px 2px 0 2px;
}
.contentText {
	width: 200px;
	height: 80px;
	
}
.contentTextSave {
	width: 204px;
	height: 16px;
	display: none;
	background-color: #F4FCFF;
	
	border: 2px solid #3a72c1;
}
.contentTextSave:hover {
	cursor: pointer;
	background-color: #E0FCFF;
}
.invalidInput {
	text-decoration: underline;
	text-decoration-color: #ff0000;
	color: #8b0000;
}
.invalidText {
	border: none;
	margin: 0 2px 2px 2px;
	height: 12px;
	width: 12px;
	background-color: transparent;
}
.invalid-message {
	font-weight: bold;
	color: #8b0000;
	margin-left: 4px;
}
.icon-textInvalid {
	background-image: url(../../images/toolbar/textWarning10x10.png);
	background-repeat: no-repeat;
	background-position: center;
}
.button-decisionPrev {
	background-image: url(../../images/toolbar/navigate_left24.png);
	vertical-align: 90%;
}
.button-decisionNext {
	background-image: url(../../images/toolbar/navigate_right24.png);
	vertical-align: 90%;
}
.ui-dialog-title{
	
	font-size: 10pt !important;
	color: #ffffff !important;
}
.ui-dialog-titlebar {
	
	background: #72AAFA !important;
	
	margin: -4px -5px 0 -5px !important;
}
.ui-dialog .ui-dialog-buttonpane button {
	border-radius: 2px !important;
}
.ui-dialog .ui-dialog-buttonpane button:focus {
	border-radius: 0px !important;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
	background-color: #d0d0d0 !important;
}
.ui-dialog .ui-dialog-buttonpane button:active{
	border-radius: 0px !important;
	background-color: #72AAFA !important;
	outline-color: #72AAFA !important;
}
.ui-dialog-buttonset .ui-button:last-child {float:right !important; margin-right: 0px;}
.ui-widget-content.ui-dialog {
	
	border: 1px solid #3a72c1 !important;
}
#dialog-message .ui-dialog-content {
	font-size: 12px;
	font-family: Arial;
}
.ui-button, .ui-button-text .ui-button{
	font-size: 12px !important;
	width: 64px;
}
#infoTextId {
	margin: 2px 2px 0 2px;
	border-style: none;
	outline: none;
	marker: none;
	resize: none;
}
#confirmTextId {
	margin: 5px;
	border-style: none;
	outline: none;
	marker: none;
	resize: none;
}
#selectFileTypeId {
	width: 304px;
	height: 20px;
	margin: 8px 0 6px 8px;
	font-family: Arial;
	font-size: 16px;
	outline: none;
}
#selectFileId {
	width: 300px;
	height: 28px;
	margin: 8px 0 10px;
	background-color: #72AAFA !important;
}
	
	
	
	
.ctx-menu {
	display: none;
	z-index: 1000;
	width: 200px;
	
	border: 1px solid #cccccc;
	
	
	
	
	
	
	
}
.ui-menu {
	
	border: 1px solid #3a72c1 !important;
}
.ui-menu .ui-menu-item {
	margin: 2px;
	padding: 4px;
	cursor: pointer;
	font-family: sans-serif  !important;
	font-size: 13px  !important;
}
	
	
	
.ui-menu .ui-menu-divider {
	margin: 0 !important;
	height: 0;
	
	
	border-width: 1px 0 0 0;
}
.ui-menu kbd {
	float: right;
	height: 16px;
	font-family: sans-serif  !important;
	font-size: 13px  !important;
	vertical-align: top;
	user-select: none;
}
.ctx-menu li:hover {
	background-color: #D3EEFE;
}
.ctx-menu li:hover kbd {
	display: none !important;
}
table, th, td {
	
	background-color: #E1F5FF;
	
	
	border: 2px solid #ffffff;
	border-radius: 4px;
	border-collapse: collapse;
	padding: 8px 15px 8px 15px;
	text-align: left;
}
table#nodeTableContentId th {
	padding:4px 2px 4px 2px;
	color: #ffffff;
	background-color: #72AAFA !important;
}
table#nodeHeadId th {
	padding:4px 0px 4px 8px;
	color: #ffffff;
	background-color: #72AAFA !important;
}
table#nodeInputsTableId td {
	padding:0;
}
table#nodeOutputsTableId td {
	padding:0;
}
table#nodeRefInputsTableId td {
	padding:0;
}
table#nodeRefOutputsTableId td {
	padding:0;
}
table#linkHeadId th {
	padding:4px 0 4px 8px;
	color: #ffffff;
	background-color: #72AAFA !important;
}
table#linkPropsTableId td {
	padding:6px;
}
.linkPropsCol0Size {
	width: 60px;
}
.linkPropsCol1Size {
	width: 160px;
}
.linkPropsCol2Size {
	width: 300px;
}
.linkPropsColLabelSize {
	width: 364px;
	padding: 2px;
}
.nodePropsContainer {
	
	
	overflow: hidden;
	height:410px;
}
.nodePropsThNameSize {
	width: 64px;
}
.nodePropsThLabelSize {
	width: 214px;
}
	
.nodePropsTopCnxSize {
	width: 300px;
}
.nodePropsNameSize {
	width: 90px;
}
.nodePropsLabelSize {
	width: 184px;
	
	margin: 0;
}
.nodeOpsMenu {
	height: 16px;
	
	margin: 4px 0 4px 0;
}
.btnNodeOps {
	margin: 20px 0 2px 2px;
	width: 100px;
	height: 26px;
	float: right;
}
.ui-tooltip {
	
	background-color: #8099fa !important;
	color: #ffffff !important;
	font-size:12px !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	padding: 4px !important;
}
#sourcesWrapperId {
	
	border: 2px solid #3a72c1;
	border-radius: 4px;
	width:90%;
	margin: 0 60px;
}
#comparisonWrapperId {
	
	border: 2px solid #3a72c1;
	border-radius: 4px;
	width:90%;
	margin: 0 60px 10px;
}
table#comparisonId th {
	color: #ffffff;
	
	background-color: #3a72c1;
}
#dirsTableContainer {
	border: 1px solid #408DEE;
	display:block;
	overflow:auto;
	height:200px;
	width:99%;
}
table#dirsTableId {
	
	border-collapse: collapse;
	
	text-align: left;
	
	width: 100%;
}
table#dirsTableId td {
	
	text-align: left;
	border-collapse: collapse;
	padding: 2px 10px 2px 15px;
	font-weight: bold;
}
.selectedTableRow {
	color: #ffffff;
	background-color: #408DEE;
}
.nodeContentBkgnd {
	background-color: #eaf0fa;
	height: 30px;
}
#nodeCnxContainer {
	display:block;
	
	height:312px;
	width:98%;
}
#nodeTableContainer {
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 250px;
	width: 100%;
	border: 1px solid #aaaaaa;
}
table#nodeTableContentId td {
	text-align: left;
	border-collapse: collapse;
	padding: 1px;
	font-weight: bold;
}
	
	
.nodeTableKey {
	
	width: 24px;
	border: 1px solid #97c9ee;
	outline: none;
	
}
.nodeTableField {
	
	width: 130px;
	border: 1px solid #97c9ee;
	outline: none;
	pointer-events: auto;
}
.nodeTableType {
	
	width: 56px;
	border: 1px solid #97c9ee;
	outline: none;
	pointer-events: auto;
}
.nodeTableLength {
	
	width: 36px;
	border: 1px solid #97c9ee;
	outline: none;
	pointer-events: auto;
}
.nodeTableRowSelected {
	color: #ffffff;
	background-color: #408DEE;
	border: 1px solid #408DEE;
}
#findTableContainer {
	border: 1px solid #aaaaaa;
	display:block;
	overflow:auto;
	height:200px;
	width:98%;
}
table#findTableId {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
table#findTableId td {
	background-color: #FFF;
	text-align: left;
	border-collapse: collapse;
	padding: 2px 10px 2px 15px;
	font-weight: bold;
}
table#findTableId td:hover {
	color: #ffffff;
	background-color: #408DEE;
}
.scaleSlider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 12px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	margin-top: 6px;
	opacity: 0.7;
	-webkit-transition: .2s; 
	transition: opacity .2s;
}
.scaleSlider:hover {
	opacity: 1; 
}
.scaleSlider::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #82AAFA;
	cursor: pointer;
}
.scaleSlider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #82AAFA;
	cursor: pointer;
}
